<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>도서관리</title>
    <link rel="stylesheet" href="./css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="header">
        <a href="index.html"> <img src="./img/ssafy_logo.png" id="ssafy_logo" /></a>
        <p class="logo">도서관리</p>
      </div>
      <div class="regist">
        <h1 class="underline">SSAFY 도서 정보</h1>
        <div class="regist_form">
          <label for="isbn">도서번호</label>
          <input type="text" id="isbn" name="isbn" v-model="isbn" disabled="disabled" /><br />
          <label for="title">도서명</label>
          <input type="text" id="title" name="title" v-model="title" disabled="disabled" /><br />
          <label for="author">저자</label>
          <input type="text" id="author" name="author" v-model="author" disabled="disabled" /><br />
          <label for="price">가격</label>
          <input type="number" id="price" name="price" v-model="price" disabled="disabled" /><br />
          <label for="content">설명</label>
          <br />
          <textarea
            id="content"
            name="content"
            v-model="content"
            cols="35"
            rows="5"
            disabled="disabled"
          ></textarea
          ><br />
          <button @click="getModify">수정</button>
          <button @click="getDelete">삭제</button>
          <button @click="getList">목록</button>
        </div>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        name: "create",
        data() {
          return {
            isbn: "111-222-7777",
            title: "자바 프로그래밍",
            author: "최싸피",
            price: "27000",
            content: "자바 끝판왕!!",
          };
        },
        methods: {
          getList() {
            location.href = "./list.html";
          },
          getModify() {
            location.href = "./modify.html";
          },
          getDelete() {
            location.href = "./delete.html";
          },
        },
      });
    </script>
  </body>
</html>
